
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
}

h1,h2,h3,h4,h5,h6,p {margin: 0;}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    padding-left: 15px; padding-right: 15px;
    margin-left: auto; margin-right: auto;
}

.header-nav-logo {
    margin-right: 76px;
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
        align-items: center;
}
.header-logo-studio {
    color: #2E2F42;
}
.header {
    border-bottom: 1px solid #E7E9FC;
        background: #FFF;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.header-nav-list {
    display: flex;
    display: inline-flex;
        align-items: flex-start;

}
.header-nav-item {
    margin-right: 40px;
    background-color: #FFFFFF;
}
.header-nav-list-item:last-child {
    margin-right: 0;
}
.header-nav-link {
    color: #2E2F42;
        font-family: Roboto;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.active {
    color: #404BBF;
}
.header-nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
     background-color: #404BBF;
}
.header-nav-list .header-nav-link:hover,
.header-nav-list .header-nav-link:focus {
    color: #404bbf;
}
.adres-list {
    display: flex;
}
.adres {
    font-style: normal;
    
}
.adres-list .adres-contact:hover,
.adres-list .adres-contact:focus {
    color: #404bbf;
}

.adres-contact {
        color: #434455;
            font-family: Roboto;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-item {
    margin-right: 40px;
}
.adres-item:last-child {
    margin-right: 0;
}
.hero { 
    max-width: 1440px;
    padding: 188px 0;
    background: #2E2F42;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
}
.hero-title {
    max-width: 496px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 48px;
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: #404bbf;
}
.hero-button {
    display: block;
        background: #4D5AE5;
        color: #FFF;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            padding: 16px 32px;
            border-radius: 4px;
            border: none;
            margin: 0 auto;
            min-width: 169px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-two {
    background: #FFF;
}
.section-two-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-two-item {
    background-color: #FFFFFF;
    width: 264px;
}
.section-two-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
}
.section-two-title {
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 72px;
}
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.section-two-title-text {
        color: #2E2F42;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }
.section-two-text {
    color: #434455;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.section-three {
    background: #F4F4FD;
}
.section-three-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-left: auto; margin-right: auto;
    margin-bottom: 72px;
}
.section-three-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-three-item {
    justify-content: center;
    align-items: center;
    width: 264px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-card {
    padding: 32px 0;
    display: flex;
        width: 232px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
}
.section-three-title-text {
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.section-three-text {
    color: #434455;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.socials-item {
    width: 40px;
    height: 40px;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}
.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}
.section-four {
    background: #FFF;
}
.section-four-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.section-four-title {
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-left: auto; margin-right: auto;
        margin-bottom: 72px;
}
.section-four-item {
    background-color: #FFFFFF;
    width: calc((100% - 24px * 2) / 3);
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.payment {
    position: relative;
    overflow: hidden;
}
.section-four-item:hover .overlay{
    transform: translateY(0%);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;
        color: #F4F4FD;
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-card-four {
    display: flex;
        padding: 32px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        border: 1px solid #E7E9FC;
        border-top: none;
}
.section-four-title-text {
    color: #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.section-four-text {
    color: #434455;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.container-footer {
    display: flex;
    align-items: baseline;
}
.container-footer-logo {
    margin-right: 120px;
}
.footer-logo {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
            height: 24px;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 16px;
}
.footer-logo-accent {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
}
.container-social-footer {
    
    justify-content: center;
    align-items: center;
}
.footer-social-text {
    color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #4D5AE5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}
.footer-svg {
    fill: currentColor;
}